.DS_Store
node_modules
/build/*
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/.vscode
.history
**/cspell.json
combined.md
logs/*
**/combine.json
**/combined.md